<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regration Suite">
	<listeners>
		<listener class-name="ai.dalalstreet.apps.Utility.ListenerSetup">
			<listener class-name="ai.dalalstreet.apps.Utility.ExtentReporterNG" />
		</listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="ai.dalalstreet.apps.TestLayer.LoginPageTest" />
			<class name="ai.dalalstreet.apps.TestLayer.BuyFunctionalityTest" />
			<class name="ai.dalalstreet.apps.TestLayer.SellFunctionalityTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->